.group_background {
    background-color: @card_bg_color;
    padding: 12px;
    border-radius: 12px;
}

.button_fix {
    padding-bottom: 20px;
    padding-top: 20px;
}

.textview_fix {
    padding:6px;
    border-radius: 6px;
    background-color: @bg_color;
}